body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #fff;
  color: #000;
}

button {
  background: #f68b1e;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}
